<?xml version="1.0"?>
<config>
    <modules>
        <Galaxy_Userdata>
            <version>0.1.0</version>
        </Galaxy_Userdata>
    </modules>
    <frontend>
		 <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <yourmodule_save_order_observer>
                        <class>Galaxy_Userdata_Model_Observer</class>
                        <method>checkout_type_onepage_save_order_after</method>
                    </yourmodule_save_order_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <routers>
			<customer>
                <args>
                    <modules>
                        <galaxy_userdata before="Mage_Customer">Galaxy_Userdata</galaxy_userdata>
                    </modules>
                </args>
            </customer>
            <userdata>
                <use>standard</use>
                <args>
                    <module>Galaxy_Userdata</module>
                    <frontName>userdata</frontName>
                </args>
            </userdata>
        </routers>
        <layout>
            <updates>
                <userdata>
                    <file>userdata.xml</file>
                </userdata>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <userdata>
                <class>Galaxy_Userdata_Model</class>
                <resourceModel>userdata_mysql4</resourceModel>
            </userdata>
            <userdata_mysql4>
                <class>Galaxy_Userdata_Model_Mysql4</class>
                <entities>
                    <userdata>
                        <table>userdata</table>
                    </userdata>
                </entities>
            </userdata_mysql4>
        </models>
        <resources>
            <userdata_setup>
                <setup>
                    <module>Galaxy_Userdata</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </userdata_setup>
            <userdata_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </userdata_write>
            <userdata_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </userdata_read>
        </resources>
        <blocks>
            <userdata>
                <class>Galaxy_Userdata_Block</class>
            </userdata>
        </blocks>
        <helpers>
            <userdata>
                <class>Galaxy_Userdata_Helper</class>
            </userdata>
        </helpers>
    </global>
    <admin>
        <routers>
            <userdata>
                <use>admin</use>
                <args>
                    <module>Galaxy_Userdata</module>
                    <frontName>userdata</frontName>
                </args>
            </userdata>
        </routers>
    </admin>
    <adminhtml>       
        <menu>
			<userdata module="userdata">
				<title>Userdata</title>
				<sort_order>99</sort_order>               
				<children>
					<items module="userdata">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>userdata/adminhtml_index</action>
					</items>
				</children>
			</userdata>
        </menu>        
        <acl>
            <resources>
			    <all>
			        <title>Allow everything</title>
			    </all>
                <admin translate="title" module="userdata">
                    <title>Magento Admin Galaxy Userdata</title>
                </admin>			    
            </resources>
        </acl>      
        <layout>
            <updates>
                <userdata>
                    <file>userdata.xml</file>
                </userdata>
            </updates>
        </layout>
    </adminhtml>
</config>